/* customs for dasi */

.white{ color: #fff; }

/* Datatables Overrides */
.dataTables_wrapper{
	.dt-buttons{
		.dt-button{ 
			background: none;
			border: thin solid lightgray;
			color: gray;
		}
	}
}

.dataTables_paginate{
	.paginate_button{
		background: none;
		border: none;
		padding: 0;
		margin: 0;
	}
}

table{
	&.dataTable{
		thead
		{
			th{
				&.sorting{ background-image: none; }
			}
		}
	}
}